---
title: About plusserver Kubernetes Engine
linkTitle: About
menu:
  main:
    weight: 10
---

{{< blocks/cover title="Enterprise Kubernetes at Scale" image_anchor="right" height="max" >}}
<div class="mx-auto" textcolor="black">
  <p align="center" style="margin-bottom: 0px !important;"> <img width="300" src="/images/Icon-RGB-kubernetes-blue-light.svg" alt="pske logo"></p><br><br>
  plusserver Kubernetes Engine (PSKE) is a managed Kubernetes solution that allows you to quickly and easily orchestrate Kubernetes clusters in a self-service manner. With PSKE, you can operate and centrally manage your workloads in a multi-cloud environment, including hyperscalers and the GDPR-compliant pluscloud open in Germany. PSKE offers integrated day 2 operations and optional professional services, enabling your DevOps teams to focus on application development. You benefit from high resilience and optimized costs through autoscaling and hibernation, and the platform is designed with security and data protection in mind, following GDPR principles.
</div>
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Simple deployment of Kubernetes-Clusters" %}}
PSKE offers simple and fast provisioning of Kubernetes clusters via a graphical interface or via API. Depending on your requirements, you can run your clusters in the DSGVO-compliant pluscloud open or on AWS and manage them centrally.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="Day 1 & Day 2" %}}
PSKE handles Day-1 and Day-2-Operations such as automated worker node patching and Kubernetes patch version updates, freeing up your DevOps teams. You have more time and freedom for your digital innovations.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="No Vendor Lock-in" %}}
PSKE is based on the open source cloud pluscloud open, which ensures data protection compliance and independence from individual cloud providers. You can run your containers in different clouds and benefit from the best-of-breed principle.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
	<p align="center" style="margin-bottom: 0px !important;"> <h1 class="text-center">plusserver Kubernetes Engine (PSKE)</h1> </p>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col" style="margin-top: auto; margin-bottom: auto; font-weight: 500; font-size: clamp(0,75em, 2.8vw, 1.25em);">
The plusserver Kubernetes Engine (PSKE) is a Kubernetes orchestration solution offered by plusserver that enables users to quickly and easily orchestrate their Kubernetes clusters in self-service. With PSKE, users can run their workloads in DSGVO-compliant pluscloud open or on AWS, depending on their requirements, and manage them via a central interface. Plusserver handles the management of Garden Cluster, Seed Cluster and Etcd backups for its customers. The PSKE also provides a variety of features that relieve Day 2 operations, such as automated patching of worker nodes, Kubernetes patch version update and rolling upgrade of Kubernetes minor version at the push of a button. PSKE provides users with high flexibility and independence from individual cloud providers and multi-cloud capability.
</div>
<div class="col" style="font-size: clamp(0,75em, 2.8vw, 1.25em);">
	- PSKE provides a fast and easy way to orchestrate self-service Kubernetes clusters. <br>
	- The PSKE is GDPR compliant and offers flexibility in choosing where to operate workloads. <br>
	- The PSKE supports multi-cloud deployment and allows the choice between different cloud providers. <br>
	- The PSKE allows users to manage their Kubernetes clusters from a central interface, either via a graphical interface or via API. <br>
	- Plusserver takes over the management of the Garden Cluster, Seed Cluster and etcd backups for its customers. <br>
	- The PSKE offers integrated Day 2 operations such as automated patching of the worker nodes and updating of the Kubernetes patch version. <br>
	- The PSKE offers an integrated lifecycle management for Kubernetes versions and worker operating systems. <br>
	- The PSKE allows users to roll out manifests to Kubernetes clusters running on other OpenStack platforms, providing independence from individual cloud providers. <br>
	- The PSKE is part of the pluscloud open ecosystem, which ensures data protection compliance and independence from individual cloud providers. <br>
	- With the PSKE, users can relieve their DevOps teams and free up space for their digital innovations.
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" height="auto" >}}
<div class="mx-auto"><p class="lead mt-5">For more Information see the Product Page at <a href="https://www.plusserver.com/en/produkte/managed-kubernetes">plusserver.com</a></p></div>
{{< /blocks/section >}}
