---
#title: 'plusserver Kubernetes Engine'
---

{{< blocks/cover title="PSKE: technical documentation" image_anchor="bottom" height="full" color="blue" >}}

<div class="mx-auto">
	<p align="center" style="margin-bottom: 0px !important;"> <img width="300" src="/images/logo.svg" alt="pluscloud open logo"></p><br><br><br>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Documentation <i class="fa fa-home ml-2"></i>
    </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.plusserver.com/en/produkte/managed-kubernetes">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/pluscloudopen">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The plusserver Kubernetes Engine (PSKE) offers easy deployment and management of Kubernetes clusters on the DSGVO-compliant pluscloud open or on AWS. PSKE takes the burden off your DevOps teams by automating Day 1 and Day 2 operations such as worker node patching, while providing independence from individual cloud providers. With PSKE you can run your containers in different clouds and are thus flexible and agile for your digital innovations.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Einfache Bereitstellung von Kubernetes-Clustern" %}}
PSKE offers simple and fast provisioning of Kubernetes clusters via a graphical interface or via API. Depending on your requirements, you can run your clusters in the DSGVO-compliant pluscloud open or on AWS and manage them centrally.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="Day 1 & Day 2" %}}
PSKE handles Day-1 and Day-2-Operations such as automated worker node patching and Kubernetes patch version updates, freeing up your DevOps teams. You have more time and freedom for your digital innovations.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="Kein Vendor Lock-in" %}}
PSKE is based on the open source cloud pluscloud open, which ensures data protection compliance and independence from individual cloud providers. You can run your containers in different clouds and benefit from the best-of-breed principle.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
	<p align="center" style="margin-bottom: 0px !important;"> <h1 class="text-center">plusserver Kubernetes Engine (PSKE)</h1> </p>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col" style="margin-top: auto; margin-bottom: auto; font-weight: 500; font-size: clamp(0,75em, 2.8vw, 1.25em);">
The plusserver Kubernetes Engine (PSKE) is a Kubernetes orchestration solution offered by plusserver that enables users to quickly and easily orchestrate their Kubernetes clusters in self-service. With PSKE, users can run their workloads in DSGVO-compliant pluscloud open or on AWS, depending on their requirements, and manage them via a central interface. Plusserver handles the management of Garden Cluster, Seed Cluster and Etcd backups for its customers. The PSKE also provides a variety of features that relieve Day 2 operations, such as automated patching of worker nodes, Kubernetes patch version update and rolling upgrade of Kubernetes minor version at the push of a button. PSKE provides users with high flexibility and independence from individual cloud providers and multi-cloud capability.
</div>
<div class="col" style="font-size: clamp(0,75em, 2.8vw, 1.25em);">
	- PSKE provides a fast and easy way to orchestrate self-service Kubernetes clusters. <br>
	- The PSKE is GDPR compliant and offers flexibility in choosing where to operate workloads. <br>
	- The PSKE supports multi-cloud deployment and allows the choice between different cloud providers. <br>
	- The PSKE allows users to manage their Kubernetes clusters from a central interface, either via a graphical interface or via API. <br>
	- Plusserver takes over the management of the Garden Cluster, Seed Cluster and etcd backups for its customers. <br>
	- The PSKE offers integrated Day 2 operations such as automated patching of the worker nodes and updating of the Kubernetes patch version. <br>
	- The PSKE offers an integrated lifecycle management for Kubernetes versions and worker operating systems. <br>
	- The PSKE allows users to roll out manifests to Kubernetes clusters running on other OpenStack platforms, providing independence from individual cloud providers. <br>
	- The PSKE is part of the pluscloud open ecosystem, which ensures data protection compliance and independence from individual cloud providers. <br>
	- With the PSKE, users can relieve their DevOps teams and free up space for their digital innovations.
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-solid fa-users" title="Join us!" url="https://scs.community" %}}
We're part of the [Sovereign Cloud Stack](https://scs.community) Community.
One platform — standardized, built and operated by many.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/pluscloudopen/pske-docs" %}}
We do a [Pull Request](https://github.com/pluscloudopen/pske-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Follow us on LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

