---
#title: 'plusserver Kubernetes Engine'
---

{{< blocks/cover title="PSKE: technical documentation" image_anchor="bottom" height="min" color="blue" >}}

<div class="mx-auto">
	<p align="center" style="margin-bottom: 0px !important;"> <img width="300" src="/images/logo.svg" alt="pluscloud open logo"></p><br><br><br>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Documentation <i class="fa fa-home ml-2"></i>
    </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.plusserver.com/en/produkte/managed-kubernetes">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/pluscloudopen">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	<!--{{< blocks/link-down color="dark" >}}-->
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Die plusserver Kubernetes Engine (PSKE) bietet eine einfache Bereitstellung und Verwaltung von Kubernetes-Clustern auf der DSGVO-konformen pluscloud open oder auf AWS. Die PSKE entlastet Ihre DevOps-Teams durch automatisierte Day-1- und Day-2-Operations wie das Patching der Worker Nodes und bietet gleichzeitig Unabhängigkeit von einzelnen Cloud-Anbietern. Mit der PSKE können Sie Ihre Container in verschiedenen Clouds betreiben und sind somit flexibel und agil für Ihre digitalen Innovationen.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Einfache Bereitstellung von Kubernetes-Clustern" %}}
Die PSKE bietet eine einfache und schnelle Bereitstellung von Kubernetes-Clustern über eine grafische Oberfläche oder per API. Sie können Ihre Cluster je nach Anforderung in der DSGVO-konformen pluscloud open oder auf AWS betreiben und zentral verwalten.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="Day 1 & Day 2" %}}
Die PSKE übernimmt die Day-2-Operations wie das automatisierte Patching der Worker Nodes und die Aktualisierung der Kubernetes-Patch-Version, wodurch Ihre DevOps-Teams entlastet werden. Sie haben mehr Zeit und Freiräume für Ihre digitalen Innovationen.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="Kein Vendor Lock-in" %}}
Die PSKE basiert auf der Open-Source-Cloud pluscloud open, die Datenschutzkonformität und Unabhängigkeit von einzelnen Cloud-Anbietern gewährleistet. Sie können Ihre Container in verschiedenen Clouds betreiben und vom Best-of-breed-Prinzip profitieren.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
	<p align="center" style="margin-bottom: 0px !important;"> <h1 class="text-center">plusserver Kubernetes Engine (PSKE)</h1> </p>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col" style="margin-top: auto; margin-bottom: auto; font-weight: 500; font-size: clamp(0,75em, 2.8vw, 1.25em);">
	Die plusserver Kubernetes Engine (PSKE) ist eine von plusserver angebotene Kubernetes-Orchestrierungslösung, die es den Benutzern ermöglicht, ihre Kubernetes-Cluster schnell und einfach im Selfservice zu orchestrieren. Mit der PSKE können Benutzer ihre Workloads je nach Anforderung in der DSGVO-konformen pluscloud open oder auf AWS betreiben und über eine zentrale Oberfläche verwalten. Plusserver übernimmt für seine Kunden das Management der Garden Cluster, Seed Cluster und Etcd Backups. Die PSKE bietet auch eine Vielzahl von Funktionen, die die Day-2-Operations entlasten, wie z.B. automatisiertes Patching der Worker Nodes, Aktualisierung der Kubernetes-Patch-Version und Rolling Upgrade der Kubernetes-Minor-Version auf Knopfdruck. Die PSKE bietet den Benutzern eine hohe Flexibilität und Unabhängigkeit von einzelnen Cloud-Anbietern und eine Multi-Cloud-Fähigkeit.


</div>
<div class="col" style="font-size: clamp(0,75em, 2.8vw, 1.25em);">
	- PSKE bietet eine schnelle und einfache Möglichkeit, Kubernetes-Cluster im Selfservice zu orchestrieren. <br>
	- Die PSKE ist DSGVO-konform und bietet Flexibilität bei der Wahl des Betriebsorts für Workloads. <br>
	- Die PSKE unterstützt Multi-Cloud-Deployment und ermöglicht die Wahl zwischen verschiedenen Cloud-Anbietern. <br>
	- Mit der PSKE können Benutzer ihre Kubernetes-Cluster über eine zentrale Oberfläche verwalten, entweder über eine grafische Oberfläche oder per API. <br>
	- Plusserver übernimmt das Management der Garden Cluster, Seed Cluster und Etcd Backups für seine Kunden. <br>
	- Die PSKE bietet integrierte Day-2-Operations wie automatisiertes Patching der Worker Nodes und Aktualisierung der Kubernetes-Patch-Version. <br>
	- Die PSKE bietet ein integriertes Lifecycle-Management für Kubernetes-Versionen und Worker-Betriebssysteme. <br>
	- Die PSKE ermöglicht es Benutzern, Manifeste auf Kubernetes-Cluster auszurollen, die auf anderen OpenStack-Plattformen laufen, und bietet somit Unabhängigkeit von einzelnen Cloud-Anbietern. <br>
	- Die PSKE ist Teil des pluscloud open-Ökosystems, das für Datenschutzkonformität und Unabhängigkeit von einzelnen Cloud-Anbietern sorgt. <br>
	- Mit der PSKE können Benutzer ihre DevOps-Teams entlasten und Freiräume für ihre digitalen Innovationen schaffen.
</div>
{{< /blocks/section >}}

{{< blocks/section>}}
{{% blocks/feature icon="fa-solid fa-users" title="Join us!" url="https://scs.community" %}}
We're part of the [Sovereign Cloud Stack](https://scs.community) Community.
One platform — standardized, built and operated by many.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/pluscloudopen/pske-docs" %}}
We do a [Pull Request](https://github.com/pluscloudopen/pske-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Follow us on LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

