---
#title: 'plusserver Kubernetes Engine'
---

{{< blocks/cover title="PSKE: technical documentation" image_anchor="bottom" height="full" color="blue" >}}

<div class="mx-auto">
	<p align="center" style="margin-bottom: 0px !important;"> <img width="300" src="/images/Icon-RGB-kubernetes-blue-dark.svg" alt="pske logo"></p><br><br><br>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Dokumentation <i class="fa fa-home ml-2"></i>
    </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.plusserver.com/en/produkte/managed-kubernetes">
		Weitere Infos <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/pluscloudopen">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
plusserver Kubernetes Engine (PSKE) ist eine gemanagte Kubernetes-Lösung, die es Ihnen ermöglicht, Kubernetes-Cluster schnell und einfach im Self-Service zu orchestrieren. Mit PSKE können Sie Ihre Workloads in einer Multi-Cloud-Umgebung betreiben und zentral verwalten, einschließlich Hyperscaler und der GDPR-konformen pluscloud open in Deutschland. PSKE bietet einen integrierten Day-2-Betrieb und optionale Professional Services, damit sich Ihre DevOps-Teams auf die Anwendungsentwicklung konzentrieren können. Sie profitieren von hoher Ausfallsicherheit und optimierten Kosten durch Autoscaling und Hibernation. Die Plattform ist auf Sicherheit und Datenschutz ausgelegt und folgt den Grundsätzen der GDPR.

<p class="lead mt-3">For more Information see the Product Page at <a href="https://www.plusserver.com/en/produkte/managed-kubernetes">plusserver.com</a></p>
{{% /blocks/lead %}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-solid fa-users" title="Join us!" url="https://scs.community" %}}
Wir sind Teil der [Sovereign Cloud Stack](https://scs.community) Community.
One platform — standardized, built and operated by many.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/pluscloudopen/pske-docs" %}}
We do a [Pull Request](https://github.com/pluscloudopen/pske-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Follow us on LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

